html {
    background: url(/images/nebula.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 16px;
}

@font-face {
    font-family: Cabin;
    src: url(/Cabin-Regular.ttf);
}

body {
    color: #ffffff;
    font-family: Cabin;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    min-height: 100;
    padding: 0;
    margin: 0;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(187, 20%, 23%, 16%);
    pointer-events: none;
    z-index: -1;
}

.overlay-dark {
    background-color: hsla(215, 50%, 5%, 0.7);
}

.header-overlay {
    position: fixed;
    width: 100%;
    height: 5.5rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(187, 20%, 23%, 16%);
    pointer-events: none;
    z-index: 0;
    /* box-shadow: 0s 10px #000000 5px; */
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*-- Startup animations --*/

/*-- Header Bar --*/

.no-header-bar {
    background: none;
}

.header-bar {
    display: block;
    position: fixed;
    width: 100%;
    height: 5.5rem;
    /* background-color: black; */
    /* background-image: url(images/nebula.jpg) no-repeat center center fixed; */
    top: 0;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px 2px 5px hsla(215, 50%, 5%, 0.8);
}

.header-img {
    background-image: url(/images/nebula.jpg);
    /* background-color: red; */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.selected {
    text-decoration: underline;
}

.title {
    position: fixed;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    color: #ffffff;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    font-family: Cabin;
}

.title-large {
    font-size: 2rem;
    top: 3.2rem;
    left: 4rem;
}

.title:hover {
    transform: scale(1.05);
}

li {
    list-style-type: none;
}

.header-text {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 0.6rem;
    margin: 0;
    color: #ffffff;
    cursor: pointer;
}

.header-icon {
    text-decoration: none;
    padding: 0.7rem;
    margin: 0;
    color: #ffffff;
}

.header-item {
    display: inline-block;
    text-align: center;
}

.header-list-item {
    display: table-cell;
    position: relative;
}

.header-text:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ffffff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.header-text:hover:after {
    width: 100%;
    left: 0;
}

.header-list {
    position: fixed;
    display: table;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header-list-large {
    right: 4rem;
    top: 3.2rem;
}

/*-- Image CC --*/
#cc-text {
    font-size: 0.7rem;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0.5rem;
    white-space: nowrap;
}

.cc {
    text-decoration: none;
    font-family: Cabin;
    color: #bbbbbb;
}

/*-- Home Page Center Content --*/
#resume-button {
    margin: 0;
    padding: 1.2em;
    border-radius: 1em;
    background: none;
    color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    text-align: center;
    font-family: Cabin;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.02em;
    font-size: 1.1rem;
    pointer-events: all;
    cursor: pointer;
    transition: background 150ms ease-in, color 150ms ease-in;
}

#resume-button:hover {
    background: #ffffff;
    color: hsl(215, 50%, 5%);
}

#center-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
    z-index: top;
    pointer-events: none;
}

#center-content {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    width: 50%;
    text-align: center;
}

#center-text {
    font-weight: 500;
    font-style: normal;
    line-height: 1.3em;
    letter-spacing: 0em;
    font-size: 2.6rem;
    pointer-events: all;
    padding: 30px;
}

#seng513-app-info {
    margin: 2rem;
}

/*-- Regular Page Contents --*/
.title-small {
    font-size: 2rem;
    top: 1.5rem;
    left: 2rem;
}

.header-list-small {
    top: 1.7rem;
    right: 2rem;
}

#content {
    position: relative;
    display: block;
    width: 100%;
    top: 5.5rem;
    padding-bottom: 2rem;
}

#content-block {
    margin: auto;
    min-width: min-content;
    max-width: 90ch;
}

.page-title {
    /* color: #f5d189; */
    color: #ffffff;
    /* margin: auto; */
    padding: 2rem;
    margin-inline-start: 4rem;
    width: max-content;
    font-size: 2.5rem;
}

.page-title::after {
    display: block;
    content: "";
    width: calc(100% + 3rem);
    height: 2px;
    background-color: #ffffff;
}

/*-- Project Page Contents --*/
.project-entry {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content min-content 1fr;
    column-gap: 1.5rem;
    row-gap: 0.5rem;
    margin-bottom: 4rem;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    background-color: hsl(215, 50%, 5%);
    border-radius: 1rem;
}

.project-img {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100%;
    border-radius: 1rem;
    /* border-top-right-radius: 0;
  border-bottom-right-radius: 0; */
    border-color: #ffffff;
    border: 2px solid;
    /* border-right: 3px solid; */
}

.project-title {
    grid-column: 2;
    grid-row: 1;
    font-size: x-large;
    padding: 0;
    margin: 0;
    height: min-content;
}

.project-title a {
    text-decoration: none;
    font-family: Cabin;
    color: #ffffff;
}

.project-title a:visited {
    color: #ffffff;
}

.project-languages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    grid-column: 2;
    grid-row: 2;
    padding: 0;
    margin: 0;
}

.project-languages-item {
    margin: 0;
    display: inline-block;
    color: hsl(194, 78%, 60%);
    background-color: hsla(194, 78%, 60%, 0.2);
    border-radius: 0.7rem;
    border: 2px solid;
    height: min-content;
    width: max-content;
    font-size: 0.7rem;
    padding-inline: 0.3rem;
    /* padding-block: 0.1rem; */
}

.project-desc {
    grid-column: 2;
    grid-row: 3;
    padding: 0;
    margin: 0;
}

/*-- Mobile Changes --*/
@media only screen and (max-width: 650px) {
    .project-entry {
        grid-template-columns: 1fr;
        margin-inline-start: 2rem;
        margin-inline-end: 2rem;
    }

    .project-img {
        grid-column: 1;
        grid-row: 1;
    }

    .project-title {
        grid-column: 1;
        grid-row: 2;
    }

    .project-languages-list {
        grid-column: 1;
        grid-row: 3;
    }

    .project-desc {
        grid-column: 1;
        grid-row: 4;
    }
}
