.page-title {
  font-size: 3em;
  margin-block-end: 2rem;
}

.post-title {
  font-size: 2.25em;
  display: inline;
}

.post-date {
  color: rgba(var(--heading-rgb), var(--very-translucent-item));
  font-size: 1.2em;
  line-height: normal;
  font-weight: 300;
  margin-top: 0.5rem;
}

h1 {
  color: rgb(var(--heading-rgb));
  font-family: var(--heading-font);
  line-height: 1.1111111;
  font-size: 2em;
  margin-block-end: 0.3em;
}

h2 {
  color: rgb(var(--heading-rgb));
  font-family: var(--heading-font);
  font-size: 1.4em;
  line-height: normal;
  margin-block-end: 0.2em;
}

.prose {
  max-width: var(--content-width);
  line-height: 1.7;
  font-family: var(--content-font);
  color: var(--paragraph-rgb);

  p {
    margin-block-end: 0.2em;
  }

  span {
    margin-block-end: 0.2em;
  }
}

.prose-large {
  max-width: var(--content-width-large);
}

.inline-image {
  height: auto;
  width: calc(var(--content-width) / 3);
  object-fit: cover;
  float: left;
  margin-inline-end: 2rem;
  margin-block: 2rem;
}

@media (max-width: 700px) {
  .inline-image {
    margin-inline: auto;
    width: 70%;
    float: unset;
    display: flex;
  }
}

.old-timey-text::first-letter {
  -webkit-initial-letter: 2;
  initial-letter: 2;
  font-family: var(--fancy-font);
  margin-inline-end: 0.5ch;
  color: rgb(var(--heading-rgb));
}

// thx @antfu https://antfu.me/posts/sliding-enter-animation
@keyframes slide-enter {
  0% {
    transform: translateX(0px) translateY(-5px);
    opacity: 0
  }

  to {
    transform: unset;
    opacity: unset
  }
}

@media not (prefers-reduced-motion) {
  .slide-enter-content > *:not(.image-lightbox) {
    --enter-stage: 0;
    --enter-step: 150ms;
    --enter-initial: 150ms; // Delay before the animation starts
    --acceleration: 3ms;
    animation: slide-enter 1.5s both 1 ease;
    animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step) - var(--enter-stage) * var(--enter-stage) * var(--acceleration));
  }

  .nested-slide-enter-content > *:not(.image-lightbox) {
    --enter-stage: 0;
    --enter-step: 150ms;
    --enter-initial: 0ms; // Delay before the animation starts
    --acceleration: 3ms;
    animation: slide-enter 1.5s both 1 ease;
    animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step) - var(--enter-stage) * var(--enter-stage) * var(--acceleration));
  }

  // pain
  .slide-enter-content :nth-child(1) , .nested-slide-enter-content :nth-child(1) { --enter-stage: 1; }
  .slide-enter-content :nth-child(2) , .nested-slide-enter-content :nth-child(2) { --enter-stage: 2; }
  .slide-enter-content :nth-child(3) , .nested-slide-enter-content :nth-child(3) { --enter-stage: 3; }
  .slide-enter-content :nth-child(4) , .nested-slide-enter-content :nth-child(4) { --enter-stage: 4; }
  .slide-enter-content :nth-child(5) , .nested-slide-enter-content :nth-child(5) { --enter-stage: 5; }
  .slide-enter-content :nth-child(6) , .nested-slide-enter-content :nth-child(6) { --enter-stage: 6; }
  .slide-enter-content :nth-child(7) , .nested-slide-enter-content :nth-child(7) { --enter-stage: 7; }
  .slide-enter-content :nth-child(8) , .nested-slide-enter-content :nth-child(8) { --enter-stage: 8; }
  .slide-enter-content :nth-child(9) , .nested-slide-enter-content :nth-child(9) { --enter-stage: 9; }
  .slide-enter-content :nth-child(10) , .nested-slide-enter-content :nth-child(10) { --enter-stage: 10; }
  .slide-enter-content :nth-child(11) , .nested-slide-enter-content :nth-child(11) { --enter-stage: 11; }
  .slide-enter-content :nth-child(12) , .nested-slide-enter-content :nth-child(12) { --enter-stage: 12; }
  .slide-enter-content :nth-child(13) , .nested-slide-enter-content :nth-child(13) { --enter-stage: 13; }
  .slide-enter-content :nth-child(14) , .nested-slide-enter-content :nth-child(14) { --enter-stage: 14; }
  .slide-enter-content :nth-child(15) , .nested-slide-enter-content :nth-child(15) { --enter-stage: 15; }
  .slide-enter-content :nth-child(16) , .nested-slide-enter-content :nth-child(16) { --enter-stage: 16; }
  .slide-enter-content :nth-child(17) , .nested-slide-enter-content :nth-child(17) { --enter-stage: 17; }
  .slide-enter-content :nth-child(18) , .nested-slide-enter-content :nth-child(18) { --enter-stage: 18; }
  .slide-enter-content :nth-child(19) , .nested-slide-enter-content :nth-child(19) { --enter-stage: 19; }
  .slide-enter-content :nth-child(20) , .nested-slide-enter-content :nth-child(20) { --enter-stage: 20; }
}

.thoughts-list {
  font-family: var(--heading-font);
}

.thoughts-list-item {
  padding-block: 0.3rem;
  font-size: 1em;
}

.thoughts-list-item-text {
  opacity: var(--translucent-item);
  transition: opacity 0.2s ease-out;

  &:hover {
    opacity: 100%;
  }
}

.thoughts-list-item-date {
  opacity: var(--very-translucent-item);
  font-family: var(--paragraph-font);
  font-size: 0.8em;

  position: absolute;
  right: 100%;
  transform: translate(0, 4px);
  white-space: nowrap;
  padding-inline-end: 0.8rem;
}

@media (max-width: 700px) {
  .thoughts-list-item-date {
    position: unset;
    display: block;
    transform: translate(-5px, 4px);
  }
}

.post-back-button-container {
  position: absolute;
}

#post-back-button {
  transform: translate(-3.5rem, 0px);
}

@media (max-width: 800px) {
  .post-back-button-container {
    position: relative;
    display: inline-block;
    padding-inline-end: 0.5rem;
  }

  #post-back-button {
    transform: unset;
  }
}
